@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic);

body
{
	margin:0;
	padding:0;
	background:#fff;
	color:#888;
	font-family: 'PT Sans', sans-serif;
}

#logo h1
{
	font-family: 'Lobster', cursive;
	font-size:48px;
	float:left;
	margin:12px 0 20px 13px;
	line-height:48px;
	padding:0;
	color:#fff;
	font-weight:400;
}
#logo h1 span
{
	color:#3a77ab;
}
.header
{
	background:#ff8a66;
	width:100%;
	float:left;
	margin-bottom:10px;
}
ul.nav li.dropdown:hover ul.dropdown-menu{ display: block;font-size: 13px; }

.well {
  min-height: 20px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #f8f6f6;
}

h1
{
	font-size:38px;
	color:#333;
	font-weight:300;
	text-transform:capitalize;
font-family: 'Roboto Condensed', sans-serif;
		margin:0 0 15px 0;
		padding:0;
		line-height:44px;
}
h1 a
{
	font-size:13px;
	float:right;
	line-height:44px;
	color:#0194d9;
	font-weight:normal;	font-family: 'PT Sans', sans-serif;
}
#notice1 span
{
	float:left;
	width:100%;
	color:#0194d9;
}
.border-none
{
	border:none;
}
#notice1 a
{
	float:left;
	width:100%;
	color:#888;
	line-height:18px;
	border-bottom:1px solid #eee;
	padding-bottom:5px;
	margin-bottom:5px;
}
#notice1 a:hover
{
	color:#0194d9;
	text-decoration:underline;
}

#notice1 a.border-none
{
	border-bottom:none;
		padding-bottom:0;
	margin-bottom:0;
}

#gallery .span4 
{
	margin-bottom:16px;
}
#gallery .span4.btm_zero
{
	margin-bottom:3px;
}
.square
{
	width:6px;
	height:6px;
	float:left;
	background:#0194d9;
	margin:5px 5px 0 0;
	line-height:20px;
}
#admission ul
{
	float:left; padding:0; margin:0;
}

#admission ul li
{
	float:left; list-style:none; padding:0; margin:0;
}
#admission ul li a
{
	float:left;
	width:100%;
	line-height:16px;
	margin-bottom:10px;
	color:#888;
}
#admission ul li a:hover
{
	color:#0194d9;
}
.footer
{
	width:100%;
	float:left;
	margin-top:30px;
	background:#333;
}
.footer small
{
	font-size:11px;
	color:#fff;
	margin-left:20px;
	line-height:60px;
}
.footer ul li a
{
	float:right;
	margin:10px 10px 10px 0;
}
.footer ul
{
	float:right; margin:0; padding:0;
}
.footer ul li 
{
	float:left; margin:0; padding:0; list-style:none;
}
.fb
{
	width:40px;
	height:40px;
	float:left;
	background:url(../graphic/img/fb.png) left bottom no-repeat;
}
.twitter
{
	width:40px;
	height:40px;
	float:left;
	background:url(../graphic/img/twitter.png) left bottom no-repeat;
}
.youtube
{
	width:40px;
	height:40px;
	float:left;
	background:url(../graphic/img/you-tube.png) left bottom no-repeat;
}
.fb:hover
{
	width:40px;
	height:39px;
	float:left;
	background:url(../graphic/img/fb.png) left top no-repeat;
}
.twitter:hover
{
	width:40px;
	height:39px;
	float:left;
	background:url(../graphic/img/twitter.png) left top no-repeat;
}
.youtube:hover
{
	width:40px;
	height:39px;
	float:left;
	background:url(../graphic/img/you-tube.png) left top no-repeat;
}

#map
{
	width:100%; margin-bottom:10px;
}
#contact form textarea
{
	width:96%;
}
#contact form input[type=text]
{
	width:96%; min-height:28px; margin-bottom:15px;
}
.top_10
{
	margin-top:10px;
}

h2
{
	font-size:22px;
	color:#ff8a66;
	font-weight:400px;
	text-transform:capitalize;
		font-family: 'Lobster', cursive;
		margin:5px 0 5px 0;
		padding:0;
		line-height:24px;
		width:100%;
		float:left;
}
h2 a
{
	font-size:14px;
	float:left;
	color:#0194D9;
	font-weight:normal;	font-family: 'PT Sans', sans-serif;
}
h2 a:hover
{
	color:#fff;
}
#gallery .span6 a img:hover
{
	opacity:.8;
}
#gallery .span6 small
{
	font-size:12px;
	float:left;
	color:#888; width:100%; margin-bottom:5px;
	font-weight:bold;	font-family: 'PT Sans', sans-serif;
}
#gallery .span6 small span
{
	font-weight:normal; margin-left:10px;
}
#gallery .span6 p
{
	margin-bottom:10px;
}
.gallery-inner
{
	background:#333;
	padding:1% 3%;
	width:94%;
	margin-bottom:30px;
}
h3
{
	margin:5px 0;
}
.btm_20
{
	margin-bottom:20px;
}
.navbar-inner .span4.pull-right p {
    color: #FFFFFF;
    float: right;
    line-height: 18px;
    margin: 8px 20px 0 0;
    text-align: left;
}
.navbar-inner .span4.pull-right span
{
	float:left;
	text-align:left;
	margin:8px 10px 0 26px;
}
#home-id h1
{
	margin-bottom:27px; text-transform:uppercase;
}
#home-id img
{
	float:left;
	margin:10px 20px 10px 10px;
}
#home-id a 
{
	float:left;
	margin:10px 0 10px 0;
	text-align:left;
	color:#0194D9;
	text-transform:capitalize;
}
#home-id a img
{
	float:none;
	margin:10px 0 10px 0;
	text-align:left;
}
#home-id a:hover
{
	padding-left:5px;
	color:#0194D9;
}

#home-id hr
{
	margin-bottom:30px;
}
#nav_phone{
	padding:10px 2px 0 37px;
}
#nav_phone a{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 34px;
    padding-left: 11px;	
}
#nav_phone a:hover{
	text-decoration:underline;
}
.lern_more a{
	margin:0 !important;
}
.footer a:hover{
	text-decoration:none !important;
}
.gallery_name{
    background: none repeat scroll 0 0 #333333;
    color: #0194D9;
    padding: 10px;
    text-align: left;
    width: 239px;
}
.error_msg{
	text-align:center;
	color:red;
	font-size: 14px;
}
#school_name{
    color: #1E1E1E;
    font-family: arial sen;
    font-size: 26px;
    margin-top: 30px;	
}
#school_type{
    background: none repeat scroll 0 0 #F4DC24;
    font-family: arial sen;
    font-weight: bold;
    padding: 2px 0 3px 6px;	
}
#home_about{
    max-height: 274px;
    overflow: hidden;
}
#staff_cat_name{
    border-bottom: 1px solid;
    font-size: 20px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-top: 10px;
    text-align: center;
}
.staff_email {
    background-image: url("../graphic/img/staff_email.png") ;
	background-repeat: no-repeat;
    display: block;
    float: left;
    height: 20px;
    padding-left: 25px;
    width: 226px;
	font-size: 13px;
	text-align: left;	
}
.staff_job_title {
    background: url("../graphic/img/staff_icon.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 20px;
    padding-left: 25px;
    width: 226px;
	font-size: 13px;
	text-align: left;	
}
.staff_name {
    display: block;
    float: left;
    font-size: 17px;
    height: 20px;
    margin-bottom: 5px;
    width: 226px;
	margin-top: 10px;
	text-align: left;
}
.staff_phone {
    background-image: url("../graphic/img/staff_phone.png");
	background-repeat: no-repeat;
    display: block;
    float: left;
    height: 20px;
    padding-left: 25px;
    width: 226px;
	font-size: 13px;
	text-align: left;
}
#logo_back_image{
    background-image: url("../graphic/img/banner1.png");
    background-position: right center;
    background-repeat: no-repeat;
}