        <div class="row-fluid">
                     <div class="well-banner">
                     <img src="<!-[$smarty.const.DIR_WS_SITE_GRAPHIC]->img/banner.png" alt=""/>
                     </div>
                     
        </div>