<div class="row-fluid">
<div class="span3 pull-right">
<h4>Newsletter</h4><div class="clearfix"></div>
<input type="text" placeholder="Name"/>
<input type="text" placeholder="Email"/>
<button type="submit" class="btn-black" value="Submit"> Submit</button>

</div>
</div>