                                                          <ul>
                                                             <!-[if count($GALLERY)]->
                                                             <!-[assign var="j" value=1]->
                                                              <li>
                                                                  <div class="row-fluid">                                     
                                                                    <!-[foreach from=$GALLERY key=gk item=gv]->
                                                                                <div class="span4" style='margin-bottom: 20px;'>                                                       
                                                                                    <center>
                                                                                            <!-[if $gv->image]->
                                                                                                <a class="fancybox" href="<!-[$smarty.const.DIR_WS_SITE_PATH]->upload/photo/gallery/large/<!-[$gv->image]->" data-fancybox-group="gallery">  
                                                                                                    <div class="well" style='margin-bottom: 0px;'>
                                                                                                        <img src="<!-[$smarty.const.DIR_WS_SITE_PATH]->upload/photo/gallery/medium/<!-[$gv->image]->" alt=""/>
                                                                                                    </div>
                                                                                                </a>    
                                                                                             <!-[else]-> 
                                                                                                <div class="well" style='margin-bottom: 0px;'>
                                                                                                   <img src="<!-[$smarty.const.DIR_WS_SITE_GRAPHIC]->noimage.jpg" alt="" width="205" height="123"/>
                                                                                                </div>   
                                                                                             <!-[/if]->    
                                                                                            <!-[if $gv->caption]-><h5><!-[$gv->caption]-></h5><!-[/if]-> 
                                                                                    </center>
                                                                                </div>

                                                                  <!-[if $j is div by 3]->
                                                                        </div>
                                                                        </li>
                                                                        <li><div class="row-fluid">   
                                                                  <!-[/if]->                                        
                                                                  <!-[assign var="j" value=$j+1]->
                                                                  <!-[/foreach]-> 
                                                       <!-[else]->                
                                                            <h5 id="not_found">Sorry No Record Found..!</h5> 
                                                              <div class="clearfix"></div>                                 
                                                       <!-[/if]->                                        
                                                           <div class="clearfix"></div>        
                                                          </ul>
                                                        <!-[if $TOTAL_PAGES gt 1]->
                                                                <!-[paging_ajax page=$P url=gallery total_pages=$TOTAL_PAGES total_records=$TOTAL_RECORDS max_records=$MAX_RECORDS]->
                                                         <!-[/if]-> 