<span style='color: #900'>20,992 KB</span>    <span style='color: #090'>3,240.4461 ms</span><br /><br />
<b>Warning</b>:  Illegal string offset 'hex' in <b>/var/www/html/school/public/account/dompdf/include/style.cls.php</b> on line <b>1422</b><br />
<br />
<b>Warning</b>:  Illegal string offset 'hex' in <b>/var/www/html/school/public/account/dompdf/include/style.cls.php</b> on line <b>1422</b><br />
<br />
<b>Warning</b>:  Illegal string offset 'hex' in <b>/var/www/html/school/public/account/dompdf/include/style.cls.php</b> on line <b>1422</b><br />
<br />
<b>Warning</b>:  Illegal string offset 'hex' in <b>/var/www/html/school/public/account/dompdf/include/style.cls.php</b> on line <b>1422</b><br />
<br />
<b>Warning</b>:  Illegal string offset 'hex' in <b>/var/www/html/school/public/account/dompdf/include/style.cls.php</b> on line <b>1422</b><br />
<br />
<b>Warning</b>:  Illegal string offset 'hex' in <b>/var/www/html/school/public/account/dompdf/include/style.cls.php</b> on line <b>1422</b><br />
<br />
<b>Warning</b>:  Illegal string offset 'hex' in <b>/var/www/html/school/public/account/dompdf/include/style.cls.php</b> on line <b>1422</b><br />
<br />
<b>Warning</b>:  Illegal string offset 'hex' in <b>/var/www/html/school/public/account/dompdf/include/style.cls.php</b> on line <b>1422</b><br />
<br />
<b>Warning</b>:  Illegal string offset 'hex' in <b>/var/www/html/school/public/account/dompdf/include/style.cls.php</b> on line <b>1422</b><br />
<br />
<b>Warning</b>:  Illegal string offset 'hex' in <b>/var/www/html/school/public/account/dompdf/include/style.cls.php</b> on line <b>1422</b><br />
<br />
<b>Warning</b>:  Illegal string offset 'hex' in <b>/var/www/html/school/public/account/dompdf/include/style.cls.php</b> on line <b>1422</b><br />
<br />
<b>Warning</b>:  Illegal string offset 'hex' in <b>/var/www/html/school/public/account/dompdf/include/style.cls.php</b> on line <b>1422</b><br />
<br />
<b>Warning</b>:  Illegal string offset 'hex' in <b>/var/www/html/school/public/account/dompdf/include/style.cls.php</b> on line <b>1422</b><br />
<br />
<b>Notice</b>:  Undefined offset: 1 in <b>/var/www/html/school/public/account/dompdf/include/table_frame_reflower.cls.php</b> on line <b>413</b><br />
<br />
<b>Notice</b>:  Undefined offset: 1 in <b>/var/www/html/school/public/account/dompdf/include/table_frame_reflower.cls.php</b> on line <b>413</b><br />
<br />
<b>Notice</b>:  Undefined index:  in <b>/var/www/html/school/public/account/dompdf/include/cpdf_adapter.cls.php</b> on line <b>724</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Bold in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Bold in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Bold in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Bold in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Roman in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Bold in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Bold in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Bold in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Bold in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Bold in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: /var/www/html/school/public/account/dompdf/lib/fonts/Times-Bold in <b>/var/www/html/school/public/account/dompdf/include/text_renderer.cls.php</b> on line <b>121</b><br />
