@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Dosis:400,300,200,500,600,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);

body
{
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%;
	background: url(../graphic/img/bg.png) repeat-x;
}

#logo
{
	margin:15px 0;
}

#contact-link
{
	float:right;
	margin:15px 0;
	color:#fff;
}

ul.nav li.dropdown:hover ul.dropdown-menu{ display: block;font-size: 13px; text-transform:uppercase; }
#contact-link a
{
	color:#fff;
	margin:0;
	padding:0;
	font-family: 'Dosis', sans-serif;	font-size:17px;
}
#contact-link:hover .well-black
{
	background:#000;
}
#contact-link:hover a
{
	color:#fff;
	text-decoration:none;
}

#contact-link a span
{
	color:#e75a2c;font-family: 'Dosis', sans-serif;	font-size:17px;
}

.border-bottom
{
	border-bottom:1px solid #ccc;
	margin:12px 0;
}
p
{
	font-size:13px;
	line-height:22px;
	color:#707070;
}
h5
{
	color:#fff;
	font-size:20px;
	margin:0 0 25px 0;
	padding:0;
	float:left;
	font-weight:600;
	font-family: 'Dosis', sans-serif;
	background:#313131;
	text-transform:uppercase;
	padding:2% 3%;
	width:94%;
}
#news-top h5
{
	color:#e75a2c;
	font-size:20px;
	margin:0 0 5px 0;
	padding:0;
	float:left;
	font-weight:normal;
	font-family: 'Dosis', sans-serif;
	background:none;
	padding:0 0 10px 0;
	border-bottom:1px solid #c7c7c7;
	width:100%;
}
#news-top h6
{
	color:#e75a2c;
	font-size:14px;
	margin:5px 0;
	padding:0;
	float:left;
	font-weight:lighter;
	font-family: 'Oswald', sans-serif;
}
.date
{
	color:#555555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin:0;
	padding:0;
	float:left;
}
#news-top p
{
	color:#888;
	font-size:13px;
	margin:0 0 5px 0;
	padding:0;
	float:left;
	line-height:18px;
	font-weight:normal;
	font-family: Arial, Helvetica, sans-serif;
}
#mid p
{
	color:#888;
	font-size:13px;
	margin:5px 0;
	padding:0;
	float:left;
	line-height:18px;
	font-weight:normal;
	font-family: Arial, Helvetica, sans-serif;
}
#news-top a
{
	color:#e58769;
	font-size:13px;
	margin:px 0;
	padding:0;
	float:left;
	font-weight:normal;
	font-family: Arial, Helvetica, sans-serif;
}
.well-orange h4
{
	color:#fff !important;
}
#mid h4
{
	color:#333;
	font-size:20px;
	margin:0 0 10px 0;
	padding:0 0 10px 0;
	float:left;
	font-weight:600;
	font-family: 'Dosis', sans-serif;
	text-transform:uppercase;
	width:100%;
	border-bottom:1px solid #ff7a4e;
}
.well-orange p
{
	color:#fff !important;
	text-align:justify;
	margin:0 !important;
}



/*----vertical slider css---*/

#newsticker-demo { 
width:310px; 
background:#EAF4F5; 
padding:5px 5px 0; 
font-family:Verdana,Arial,Sans-Serif;
font-size:12px;
margin:20px auto;
}

#newsticker-demo a { text-decoration:none; }
#newsticker-demo img { border: 2px solid #FFFFFF; }

#newsticker-demo .title {
text-align:center;
font-size:14px;
font-weight:bold;
padding:5px;
}

.newsticker-jcarousellite { width:100%; margin-top:0px; }
.newsticker-jcarousellite ul li{ list-style:none; display:block; padding-bottom:1px; margin-bottom:0;min-height:75px; }
.newsticker-jcarousellite .thumbnail { float:left; width:180px; }
.newsticker-jcarousellite .info { float:right; width:180px; }
.newsticker-jcarousellite .info span.cat { display: block; font-size:10px; color:#808080; }
.newsticker-jcarousellite .thumbnail
{
	box-shadow:none;
	border:0;
	padding:0;
}
.newsticker-jcarousellite
{
	height:295px !important;
}
.clear { clear: both; }

/*-------------------------------------------end of css---------------------------------*/

#notice a
{
	color:#e75a2c;
	font-size:13px;
	text-decoration:underline;
	line-height:18px;
	margin:0 0 0 0;
	padding:0;
	font-family: 'PT Sans', sans-serif;
	line-height:20px;
	font-weight:300;
	text-align:left;
	float:left;
	width:100%;
}
#notice a:hover
{
	text-decoration:none;
}
.border-btm
{
	float:left;
	background:url(../graphic/img/border.png) repeat-x;
	margin:10px 0 10px 0;
	width:100%;
	height:1px;
}
#mid-panel h4 ,#teacher h4 {
    color: #313131;
    float: left;
    font-family: 'Dosis',sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 10px;
    padding:0 0 10px 0;
    text-transform: uppercase;
    width: 100%;
	border-bottom:1px solid #d7d7d7;
}
#mid-panel h5 {
    color: #fff;
    float: left;
    font-family: 'Dosis',sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0;
    padding:6px 0;
	line-height:34px;
	text-indent:15px;
    text-transform: uppercase;
    width: 100%;
	border-bottom:1px solid #d7d7d7;
}
#teacher img
{
	margin-top:5px;
}
#teacher p
{
	color:#545353;
	font-size:12px;
	text-decoration:none;
	line-height:18px;
	margin:10px 0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	line-height:20px;
	font-weight:300;
	text-align:left;
	float:left;
	width:100%;
}
.btn-orange
{
	background:#e75a2c;
	color:#fff;
	padding:5px 10px;
	float:left;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
.btn-orange:hover
{
	background:#333;
	color:#fff;
	text-decoration:none;
}


.footer
{
	width:100%;
	float:left;
	padding:10px 0;	
	border-top:1px solid #cacaca;
	margin-top:30px;
}
.footer .pull-right a
{
	margin-left:3px;
}
.footer span
{
	font-size:12px;
	color:#363636;
	    font-family: 'Dosis',sans-serif;
		text-transform:uppercase;
		line-height:22px;
		margin-right:5px;
		margin-top:3px;
}
.footer small
{
	font-size:12px;
	color:#363636;
	font-family: 'Dosis',sans-serif;
}
.form-horizontal .control-label {
    float: left;
    padding-top: 5px;
    text-align: left;
    width: 80px;
}
#contact .form-horizontal .control-label {
    float: left;
    padding-top: 5px;
    text-align: right;
    width: auto;
}

#contact .form-horizontal .controls {
    margin-left: 75px;
}
#contact button 
{
	
	border:0;
}
#address p
{
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:no;
	color:#e75a2c;
	text-transform:uppercase;
	margin-bottom:20px;
}
#address span
{
	color:#333;
	text-align:left;
	float:left;
	width:100%;
	margin-bottom:5px;
}

#address span span
{
	color:#e75a2c;
	text-align:right;
	float:right;
	width:auto;
}
#map
{
	width:100%;
	float:left;
}
#teachers .span4
{
	margin-top:15px;
	float:left;
}
#teachers .span4 a
{
	font-size:12px;
	text-transform:uppercase;
	margin:20px 0 2px 0;
	line-height:16px;
	float:left;
	width:100%;
	text-align:center;
	font-weight:bold;
}
.gallery_name
{
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    margin: -12px 0 20px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
	color: #E75A2C;
	}
#staff_name
{
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    margin: -12px 0 20px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
	color: #E75A2C;
	}	
#staff_name span{
	font-size: 15px;
}
#staff_side_name
{
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    margin: 5px 0 0px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
	color: #E75A2C;
	}	
#staff_side_name span{
	font-size: 15px;
}
#teachers .span4 p a
{
	font-size:12px;
	margin:0px 0;
	line-height:16px;
	float:none;
	color:#8e8e8e;
	text-transform:none;
	width:auto;
	text-align:left;
}
.side_staff_imge{
	height:125px;
}

#teachers .pagination.pagination-centered a,#news .pagination.pagination-centered a
{
	width:auto;
}
#news h1
{
	font-size:12px;
	margin: 0;
	line-height:16px;
	color:#333;
	text-transform: uppercase;
	width:100%;
	text-align:left;
}
#news span
{
	font-size:12px;
		margin:8px 0;
	line-height:16px;
	color:#e75a2c;
	width:100%;
	text-align:left;
}
#news p
{
	line-height:19px;
}
#teachers p
{
	font-size:12px;
	margin: 0;
	line-height:16px;
	float:left;
	color:#8e8e8e;
	text-transform:none;
	width:100%;
	text-align:center;
}
.well-orange a
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#fff;
}
.well-orange a:hover
{
	color:#333;
}
#about h5,#news h5
{
	
	margin-bottom:20px;
}
#about img
{
	margin-right:25px;
}
#about .span6 img
{
	margin-right:0;
	margin-bottom:15px;
}
#about .well-grey img
{
	margin-right:0;
}
#news hr
{
	margin:20px 0;
}
.pagination.pagination-centered a img
{
	margin-top:-2px;
}
.lern_more{
    color: #00BDF9;
    text-align: right;
	font-size:13px;
}
.error_msg{
    color: #FF0000;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 14px;
    text-align: center;
}
#home_about{
    height: 268px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.head_name {
    color: #FFFFFF;
    font-family: dosis;
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 12px;
}
.head_bottm{
	color: #545454;
    font-family: dosis;
    font-size: 25px;
}
#logo>a:hover{
	text-decoration:none;

}
.footer a:hover{
	text-decoration:none !important;
}
#map_id{
	width:100%;
}
.staff_phone {
    background-image: url("../graphic/img/staff_phone.png");
	background-repeat: no-repeat;
    display: block;
    float: left;
    height: 20px;
    padding-left: 25px;
    width: 226px;
	font-size: 13px;
}
.staff_email {
    background-image: url("../graphic/img/staff_email.png") ;
	background-repeat: no-repeat;
    display: block;
    float: left;
    height: 20px;
    padding-left: 25px;
    width: 226px;
	font-size: 13px;
}
.staff_job_title {
    background: url("../graphic/img/staff_icon.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 20px;
    padding-left: 25px;
    width: 226px;
	font-size: 13px;
}
.staff_name {
    display: block;
    float: left;
    font-size: 17px;
    height: 20px;
    margin-bottom: 5px;
    width: 226px;
	margin-top: 10px;
}
.no_bottom_margin{
	margin:12px 0 0 0 !important;
	padding:0 !important;
}
#gray_back{
	background-color: #E3E3E3;
    border-radius: 2px;
	margin-bottom: 14px;
	padding-bottom: 10px;
}
#staff_cat_name{
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 10px;
    text-align: center;	
}