@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);


body
{
	margin:0;
	padding:0;
	background:#082e23;
	color:#888;
	font-family: 'PT Sans', sans-serif;
}
  .container-1
  {
	  width:980px;
	  background:#fff;
	  margin:0px auto;
	  padding:20px 0;
	  margin-bottom:20px;
  }
  .top-line
  {
	  background:#bf8752;
	  height:10px;
	  width:980px;
	  margin:0 auto;
	  margin:0 auto;
	  margin-top:20px;
  }
#logo h1
{
	font-family: 'Lobster', cursive;
	font-size:48px;
	float:left;
	margin:12px 0 20px 13px;
	line-height:48px;
	padding:0;
	color:#0e3c2f;
	font-weight:400;
}
#logo h1 span
{
	color:#0e3c2f;
}
.header
{
	width:100%;
	float:left;
	margin-bottom:10px;
}
ul.nav li.dropdown:hover ul.dropdown-menu{ display: block;font-size: 13px; }

.well {
  min-height: 20px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #f8f6f6;
}

h1
{
	font-size:40px;
	color:#0e3c2f;
	font-weight:400px;
	text-transform:capitalize;
		font-family: 'Lobster', cursive;
		margin:0 0 15px 0;
		padding:0;
		line-height:44px;
}
h1 a
{
	font-size:13px;
	float:right;
	line-height:44px;
	color:#0e3c2f;
	font-weight:normal;	font-family: 'PT Sans', sans-serif;
}
#notice1 span
{
	float:left;
	width:100%;
	color:#0e3c2f;
}
.border-none
{
	border:none;
}
#notice1 a
{
	float:left;
	width:100%;
	color:#888;
	line-height:18px;
	border-bottom:1px solid #eee;
	padding-bottom:5px;
	margin-bottom:5px;
}
#notice1 a:hover
{
	color:#0e3c2f;
	text-decoration:underline;
}
#notice1 a.border-none
{
	border-bottom:none;
		padding-bottom:0;
	margin-bottom:0;
}

#gallery .span4 
{
	margin-bottom:16px;
}
#gallery .span4 a img
{
	margin-bottom:16px;	   
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
          transition: all .5s ease;
}
#gallery .span4 a img:hover
{
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
		  box-shadow:0 0 5px #0e3c2f;
}
#gallery .span4.btm_zero
{
	margin-bottom:3px;
}
.square
{
	width:6px;
	height:6px;
	float:left;
	background:#888;
	margin:5px 5px 0 0;
	line-height:20px;
}
#admission ul
{
	float:left; padding:0; margin:0;
}

#admission ul li
{
	float:left; list-style:none; padding:0; margin:0;
}
#admission ul li a
{
	float:left;
	width:100%;
	line-height:16px;
	margin-bottom:10px;
	color:#888;
}
#admission ul li a:hover
{
	color:#0e3c2f;
}
.footer
{
	width:96%;
	padding:1% 2%;
	float:left;
	margin-top:30px;
	background:#0e3c2f;
}
.footer p
{
	width:70%;
	margin:0 auto;
	line-height:18px;
	text-align:center;
	font-size:13px;
	color:#fff;
}
.footer small
{
	font-size:11px;
	color:#fff;
	width:100%;
	text-align:center;
	float:left;
	margin-top:10px;

}

.footer img
{
	width:140px;
	margin:0;
	height:2px;
}

.footer ul {
    float: none;
    margin: 0 auto;
    padding: 0;
    width:100%;
}
.footer ul li 
{
	float:none; margin:0 auto; padding:0; list-style:none; width:150px;
}
.footer ul li a {
    float: right;
    margin: 5px;
}
.fb
{
	width:40px;
	height:40px;
	float:left;
	background:url(../graphic/img/fb.png) left bottom no-repeat;
}
.twitter
{
	width:40px;
	height:40px;
	float:left;
	background:url(../graphic/img/twitter.png) left bottom no-repeat;
}
.youtube
{
	width:40px;
	height:40px;
	float:left;
	background:url(../graphic/img/you-tube.png) left bottom no-repeat;
}
.fb:hover
{
	width:40px;
	height:39px;
	float:left;
	background:url(../graphic/img/fb.png) left top no-repeat;
}
.twitter:hover
{
	width:40px;
	height:39px;
	float:left;
	background:url(../graphic/img/twitter.png) left top no-repeat;
}
.youtube:hover
{
	width:40px;
	height:39px;
	float:left;
	background:url(../graphic/img/you-tube.png) left top no-repeat;
}
#map
{
	width:100%; margin-bottom:20px; margin-top:10px;
}
.top_10
{
	margin-top:10px;
}

#right-panel {
    border-right: 1px solid #EEEEEE;
    padding-right: 4%;
    width: 65%;
}

.box
{
	width:90%;
	overflow:hidden;
	padding:2% 5%;
	background: url(../graphic/img/bg.png) repeat;
	position:absolute;
	bottom:0;
	display:none;
}
#gallery .span6:hover .box
{
	display:block;
}
h2
{
	font-size:22px;
	color:#fff;
	font-weight:400px;
	text-transform:capitalize;
		font-family: 'Lobster', cursive;
		margin:5px 0 5px 0;
		padding:0;
		line-height:24px;
		width:100%;
		float:left;
}
h2 a
{
	font-size:18px;
	float:left;
	color:#fff;
	font-weight:normal;	font-family: 'PT Sans', sans-serif;
}
h2 a:hover
{
	color:#fff;
}
#gallery .span6 
{
	position:relative;
	top:0;
	margin-bottom:20px;
	
}
#gallery .span6 p
{
	margin-bottom:10px; color:#fff;
}

#contact form input[type="text"] {
    margin-bottom: 14px;
    margin-right: 0px;
}
#contact form textarea 
{
	width:95.6%;
	margin-bottom:20px;
}
.lern_more{
    color: #0E3C2F;
    text-align: right;
}
#news_date {
    color: #0E3C2F;
    float: right !important;
    font-family: 'PT Sans',sans-serif;
    font-size: 13px;
    font-weight: normal;
	width:auto !important;
}
.notice_date {
    color: #0E3C2F;
    font-family: 'PT Sans',sans-serif;
    font-size: 13px;
    font-weight: normal;
	width:auto !important;
}
#school_name{
    color: #0E3C2F;
    font-size: 23px;
   
}
#school_type{
    color: #335A4F;
    font-size: 17px;	
}
.footer a:hover{
	text-decoration:none !important;
}
#staff_cat_name{
    border-bottom: 1px solid;
    font-size: 20px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-top: 10px;
    text-align: center;
}
.staff_email {
    background-image: url("../graphic/img/staff_email.png") ;
	background-repeat: no-repeat;
    display: block;
    float: left;
    height: 20px;
    padding-left: 25px;
    width: 226px;
	font-size: 13px;
	text-align: left;	
}
.staff_job_title {
    background: url("../graphic/img/staff_icon.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 20px;
    padding-left: 25px;
    width: 226px;
	font-size: 13px;
	text-align: left;	
}
.staff_name {
    display: block;
    float: left;
    font-size: 17px;
    height: 20px;
    margin-bottom: 5px;
    width: 226px;
	margin-top: 10px;
	text-align: left;
}
.staff_phone {
    background-image: url("../graphic/img/staff_phone.png");
	background-repeat: no-repeat;
    display: block;
    float: left;
    height: 20px;
    padding-left: 25px;
    width: 226px;
	font-size: 13px;
	text-align: left;
}
.error_msg{
    color: #FF0000;
    font-size: 15px;
    margin-bottom: 5px;
    text-align: center;
}