            <div class="well" id="admission">
                <h1><!-[$ADMISSION->name]-> </h1>
                <!-[if !empty($ADMISSION->description)]-> 
                                    <!-[html_entity_decode(limit_text($ADMISSION->description,450))]->
                                    <!-[if strlen($ADMISSION->description)>450]->
                                     <div class="clearfix"></div>
                                          <div class="lern_more"><a href="<!-[make_url page=content query='id='|cat:$ADMISSION->id]->"> Read More <img src="<!-[$smarty.const.DIR_WS_SITE_GRAPHIC]->img/read-more.png" alt=""/></a></div>
                                    <!-[/if]->         
                            <!-[else]->  
                            <p><br/>Coming Soon..!</p>
                <!-[/if]->              
               
           </div>
          