
    <div class="row-fluid">
              <!-- Responsive slider - START -->
            <div class="responsive-slider" data-spy="responsive-slider" data-autoplay="true">
            <div class="slides" data-group="slides">
                <ul>
                    <li>
                  <div class="slide-body" data-group="slide">
                    <img src="<!-[$smarty.const.DIR_WS_SITE_GRAPHIC]->img/new.png" alt="">

                  </div>
                    </li>

                </ul>
            </div>

            </div>
          <!-- Responsive slider - END -->
    </div>