  
            <h1>Photo Gallery <!-[if count($ALL_GALLERY)]-><a href="<!-[make_url page=gallery]->" title='View All'>View All</a><!-[/if]-> </h1>
            <div class="row-fluid">                    
                    <!-[if count($ALL_GALLERY)]->    
                        <!-[assign var="j" value=1]->
                        <!-[if $j<6]->
                            <!-[foreach from=$ALL_GALLERY key=Agk item=Agv]->
                             <div class="span4">
                                <!-[if $Agv->image]->
                                   <a href="<!-[make_url page=gallery]->" data-fancybox-group="gallery">
                                            <img src="<!-[$smarty.const.DIR_WS_SITE_PATH]->upload/photo/gallery/medium/<!-[$Agv->image]->" alt=""/>
                                   </a>    
                                 <!-[else]-> 
                                       <img src="<!-[$smarty.const.DIR_WS_SITE_GRAPHIC]->noimage.jpg" alt="" width="205" height="123"/>                                
                                 <!-[/if]->    
                              </div>
                               <!-[if $j is div by 3]->
                                    </div>
                                    <div class="row-fluid">   
                              <!-[/if]->  
                              <!-[assign var="j" value=$j+1]->
                            <!-[/foreach]-> 
                        <!-[/if]->     
                    <div class="clearfix"></div>  
                    <!-[else]-> 
                       <p> Sorry, No Record Found..!</p>
                    <!-[/if]-> 
    
            </div>
           