@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);

@font-face {
    font-family:'steinerregular';
    src: url('../font/steiner/steinerlight.eot');
    src: url('../font/steiner/steinerlight.eot?#iefix') format('embedded-opentype'),
         url('../font/steiner/steinerlight.woff') format('woff'),
         url('../font/steiner/steinerlight.ttf') format('truetype'),
         url('../font/steiner/steinerlight.svg#steinerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('../font/bebas/bebasneue.eot');
    src: url('../font/bebas/bebasneue.eot?#iefix') format('embedded-opentype'),
         url('../font/bebas/bebasneue.woff') format('woff'),
         url('../font/bebas/bebasneue.ttf') format('truetype'),
         url('../font/bebas/bebasneue.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
   margin:0;
   padding:0;
   height:100%;
   font-family:Arial, Helvetica, sans-serif;
   font-size:100%;
   font-weight:normal;   
}
ul.nav li.dropdown:hover ul.dropdown-menu{ display: block; }
/*------------------------------------------------------background image css code---------------------------------------------*/
img.bg {
			/* Set rules to fill background */
			min-height: 100% !important;
			min-width: 1024px;
			
			/* Set up proportionate scaling */
			width: 100%;
			height: auto;
			
			/* Set up positioning */
			position: fixed;
			top: 0;
			left: 0;
			bottom:-10px;
		}
		
		@media screen and (max-width: 1024px){
			img.bg {
				left: 50%;
				margin-left: -512px; }
		}

/*---------------------------------------------------end background image css code---------------------------------------------*/		


.header
{
  min-height: 20px;
  position:relative;
  padding: 12px 12px 5px 12px;
  margin-bottom: 10px;
  background-color: #fff;
  -webkit-border-radius:0 0 4px 4px;
     -moz-border-radius:0 0 4px 4px;
          border-radius:0 0 4px 4px;
		  behavior: url(PIE.htc);
  -webkit-box-shadow:  0 0px 5px rgba(0, 0, 0, .8);
     -moz-box-shadow:  0 0px 5px rgba(0, 0, 0, .8);
          box-shadow:  0 0px 5px rgba(0, 0, 0, .8);
}
#logo
{
	margin:0;
}
#logo a:hover
{
	text-decoration:none;
	clear:both;
}
#logo img
{
	
	margin:0 10px 0 0;
	padding:0;
}
#logo h4
{
	font-family: 'PT Sans',sans-serif;
	color: #02aef0;
	font-size: 40px;
	margin: 20px 0 10px;
	padding: 0;
	line-height: 40px;
}
#logo h6
{
	font-family: 'PT Sans', sans-serif;
	color:#ee1d23;
	font-size:18px;
	margin:0;
	padding:0;
}
.link-box
{
    float: right;
    height: 50px;
    margin-bottom: 3%;
    width: 150px;
}
.link-box a.twitter
{
	float:right;
		margin:0 0 0 6px;
	padding:0;
	width:42px;
	height:42px;
	background:url(../graphic/img/twitter.png) 0 0 no-repeat;
}
.link-box a.fb
{
	float:right;
		margin:0 0 0 6px;
	padding:0;
	width:42px;
	height:42px;
	background:url(../graphic/img/fb.png) 0 0 no-repeat;
}
.link-box a.google
{
	float:right;
		margin:0 0 0 6px;
	padding:0;
	width:42px;
	height:42px;
	background:url(../graphic/img/google.png) 0 0 no-repeat;
}

.link-box a.twitter:hover
{
	float:right;
		margin:0 0 0 6px;
	padding:0;
	width:42px;
	height:42px;
	background:url(../graphic/img/twitter.png) 0 -44px no-repeat;
}
.link-box a.fb:hover
{
	float:right;
		margin:0 0 0 6px;
	padding:0;
	width:42px;
	height:42px;
	background:url(../graphic/img/fb.png) 0 -44px no-repeat;
}
.link-box a.google:hover
{
	float:right;
	margin:0 0 0 6px;
	padding:0;
	width:42px;
	height:42px;
	background:url(../graphic/img/google.png) 0 -44px no-repeat;
}
.btn.search-blk
{
	background:#000000;
	background:#000000\9;
	color:#fff;
}
.header .input-append.pull-right .span8
{
width:69%;
}


.well-green {
  min-height: 20px;
  padding:13px 18px ;
  background-color: #00a54f;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;

}
.well-red {
  min-height: 20px;
  padding:13px 18px ;
  background-color: #ee1d23;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;

}
.well-yellow {
  min-height: 20px;
  padding:13px 18px ;
  background-color: #ffb715;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;

}
#boxes
{
	
	margin-bottom:10px;
}
#boxes h4
{
   font-family: 'bebas_neueregular';
   font-size:36px;
   font-weight:normal;
   color:#fff;
   margin:0;
   padding:0;
   line-height:36px;
}
#boxes p
{
		float:left;
		margin:5px 0;
		padding:0;
		font-family: 'PT Sans', sans-serif;
	color:#fff;
	font-size:13px;
	text-align:justify;
}
#boxes h4 span
{
	font-size:28px;
	  font-family: 'bebas_neueregular';
}
#boxes ul
{
		float:left;
		margin:0;
		padding:0;
}

#boxes ul li
{
		float:left;
		margin:0;
		padding:0;
		width:100%;
		list-style:none;
		background: url(../graphic/img/arrow.png) left center no-repeat;
}

#boxes ul li a
{
		float:left;
		margin:5px 10px;
		padding:0;
		font-family: 'PT Sans', sans-serif;
		color:#fff;
		font-size:14px;
		line-height:20px;
}
#boxes ul li a:hover
{
	text-decoration:none;
}
.shadow
{
	background:url(../graphic/img/shadow.png) bottom center no-repeat;
	width:100%;
	height:18px;
}

h4
{
   font-family: 'bebas_neueregular';
   font-size:30px;
   font-weight:normal;
   color:#00bdf9;
   margin:3px 0 10px 0;
   padding:0;
   line-height:32px;
}
p
{
	font-family:Arial, Helvetica, sans-serif;
	color:#888;
	text-align:justify;
	font-size:13px;
	line-height:22px;
	margin:0;
	padding:0;
}

.link
{
	color:#ee1d23;
	text-decoration:underline;
	font-size:14px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:lighter;
	line-height:22px;
	width:100%;
	text-align:center;
	margin:0;
	padding:0;
}
.link2
{
	color:#888;
	padding:0;
	margin:0;
	font-size:13px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:lighter;
	line-height:20px;
	text-align:center;
	width:100%;
}

.footer
{

	background:#fff;
	color:#00bdfa;
	width:100%;
	float:left;
	font-size:13px;
	padding:1% 0;
	position:relative;
	margin-top:5px;
	
}
.footer ul
{
		margin:0;
		padding:0;
		width:100%;
}

.footer ul li
{
		margin:0;
		padding:0;
		list-style:none;

}

.footer ul li a
{
		margin:0 3px;
		padding:0;
		font-family: Arial, Helvetica, sans-serif;
		color:#00bdf7;
		font-size:13px;
		line-height:20px;
}
.footer span
{
		float:left;
		margin:0;
		padding:0;
		font-family: Arial, Helvetica, sans-serif;
		color:#888;
		font-size:11px;
		width:100%;
		line-height:20px;
}


#contact input[type=text]
{
	margin:20px 6px 0 0;
}
#contact textarea
{
	width:97%;
	margin:13px 0;
}

#news ul {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}

#news ul li {
    float: left;
    list-style: none outside none;
    margin: 0 0 30px;
    padding: 0;
    width: 100%;
}

#news a {
    color: hsl(355, 67%, 49%);
    float: left;
    font-size: 14px;
}
#news h4 {
    color: hsl(0, 0%, 20%);
    float: left;
   	font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    margin: 0 0 8px;
    padding: 0;
    text-transform: uppercase;
}

#news span {
    color: #00bdfa;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin: 0 0 8px;
    padding: 0;
}

#news p {
    color: hsl(0, 0%, 53%);
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 20px;
    margin: 0 0 8px;
    padding: 0;
}

#news a {
    color: hsl(355, 67%, 49%);
    float: left;
    font-size: 14px;
}

#news .row-fluid:hover .span5 img
{
	opacity:.8;
}
#gallery ul
{
	margin:0;
	padding:0;
}
#gallery ul li
{
	margin:0;
	padding:0;
	list-style:none;
}
#gallery ul li a
{
	margin:0;
	padding:0;
	text-decoration:none;
}
#gallery ul li a:hover
{
		text-decoration:none;
		color:#b00000
}
#gallery h5
{
	margin:10px 0 0;
	text-transform:uppercase;
}

#gallery .well
{
	padding:5px;
	margin-bottom:20px;
}
#gallery-inner #gallery .well
{
	padding:5px;
	margin-bottom:0;
}
#gallery .well img
{ 

}
#gallery .well:hover
{
	opacity:.8;
	  -webkit-box-shadow:  0 1px 3px rgba(0, 0, 0, 0.8);
     -moz-box-shadow:  0 1px 3px rgba(0, 0, 0, 0.8);
          box-shadow:  0 1px 3px rgba(0, 0, 0, 0.8);
}
.for_home{
    height: 224px;
    overflow: hidden;
    padding-bottom: 43px !important;
}
.lern_more{
    color: #00BDF9;
    text-align: right;
}
.home_news{
	height: 320px;
	overflow: hidden;
}
.for_notice_date{
    color: #00BDF7;
    font-family: 'Pathway Gothic One',sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: right;	
}
.small_notice_date{
    color: #0088CC;
    font-size: 10px;
    margin-bottom: 1px;
    margin-top: 3px;    
}
.pagination.pagination-centered ul li a.active{
  background: #EE1D23 !important;
  color:#FFFFFF !important;
  width:20px;
}
.pagination.pagination-centered ul li a{
  width:20px;
}
.error_msg{
    color: #FF0000;
    font-size: 13px;
    margin-bottom: 14px;
    text-align: center;
}
.footer a:hover{
	//text-decoration:none !important;
}
.footer > .container > .row-fluid > center > ul > li >.active{
	color:#000;
}
.staff_phone {
    background-image: url("../graphic/img/staff_phone.png");
	background-repeat: no-repeat;
    display: block;
    float: left;
    height: 20px;
    padding-left: 25px;
    width: 226px;
	font-size: 14px;
}
.staff_email {
    background-image: url("../graphic/img/staff_email.png") ;
	background-repeat: no-repeat;
    display: block;
    float: left;
    height: 20px;
    padding-left: 25px;
    width: 226px;
	font-size: 14px;
}
.staff_job_title {
    background: url("../graphic/img/staff_icon.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 20px;
    padding-left: 25px;
    width: 226px;
	font-size: 14px;
}
.staff_name {
    display: block;
    float: left;
    font-size: 18px;
    height: auto;
    margin-bottom: 5px;
    width: 226px;
	margin-top: 10px;
}
.no_bottom_margin{
	margin-bottom:0 !important;
}
#gray_back{
	background-color: #F5F5F5;
    border-radius: 2px;
	margin-bottom: 14px;
}
#staff_cat_name{
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 10px;
    text-align: center;	
}
