         <div class="row-fluid">
                <div class="well-orange">
          	<h4><!-[$ADMISSION->name]-></h4>
                
                <!-[if !empty($ADMISSION->description)]-> 
                                    <p><!-[html_entity_decode(limit_text($ADMISSION->description,450))]-></p>
                                    <!-[if strlen($ADMISSION->description)>450]->
                                          <div class="lern_more"> <strong><a href="<!-[make_url page=content query='id='|cat:$ADMISSION->id]->"> Read More..</a></strong></div>
                                    <!-[/if]->         
                            <!-[else]->  
                            <p><br/>Coming Soon..!</p>
                <!-[/if]->              
                <div class="clearfix"></div>
         	</div>
          </div>