
    <div class="row-fluid">
          	       <!-- Responsive slider - START -->
                    <div class="responsive-slider" data-spy="responsive-slider" data-autoplay="true">
                    <div class="slides" data-group="slides">
                        <ul>
                            <li>
                          <div class="slide-body" data-group="slide">
                            <img src="<!-[$smarty.const.DIR_WS_SITE_GRAPHIC]->img/12.png">
                            <div class="caption header" data-animate="slideAppearRightToLeft" data-delay="500" data-length="400" style='display:none'>
                              <h2>Morbi et justo ut ipsum.</h2>
                              <div class="caption sub" data-animate="slideAppearLeftToRight" data-delay="800" data-length="900">Sed tristique nunc et odio accumsan</div>
                            </div>
                         
                          </div>
                            </li>
                           
							
                        </ul>
                    </div>
                    <div class="pages" style='display:none'>
                      <a class="page" href="#" data-jump-to="1">1</a>                     
                    </div>
                    </div>
                   <!-- Responsive slider - END -->
  </div>