          <div class="row-fluid">
                <div class="well-blue">
          	<h4>School Timing</h4>
                
                <!-[if !empty($SCHOOL->school_time)]->                                 
                                    <p><!-[html_entity_decode($SCHOOL->school_time)]-></p>
                            <!-[else]->  
                            <p><br/>Coming Soon..!</p>
                <!-[/if]->                 
                <div class="clearfix"></div>
         	</div>
          </div>