            <div id="admission" class="top_10">
                <h1><!-[$ADMISSION->name]-></h1>
                <!-[if !empty($ADMISSION->description)]-> 
                                    <p><!-[html_entity_decode(limit_text($ADMISSION->description,450))]-></p>
                                    <!-[if strlen($ADMISSION->description)>450]->
                                          <div class="lern_more"><a href="<!-[make_url page=content query='id='|cat:$ADMISSION->id]->"> Read More..</a></div>
                                    <!-[/if]->         
                            <!-[else]->  
                            <p><br/>Coming Soon..!</p>
                <!-[/if]->              
                <div class="clearfix"></div>
         	</div>
          