          <div class="row-fluid" id="admission" class="top_10">
          	<h1>School Timing</h1>
                
                <!-[if !empty($SCHOOL->school_time)]->                                 
                                    <p><!-[html_entity_decode($SCHOOL->school_time)]-></p>
                            <!-[else]->  
                            <p><br/>Coming Soon..!</p>
                <!-[/if]->                 
                <div class="clearfix"></div>
          </div>